.loading {
  animation: loading 1s linear infinite;
}

.bg-animate {
  animation: bg-animate 1s alternate infinite;
}

@keyframes bg-animate {
  0% {
    background-color: #f2f3f5;
  }
  100% {
    background-color: #e5e6eb;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.collapsed {
  .collapsed-hidden {
    display: none;
  }
  .\!collapsed-hidden {
    display: none !important;
  }
}
